{:deps {org.clojure/clojure                      {:mvn/version "1.10.0"}
        org.deeplearning4j/deeplearning4j-nlp    {:mvn/version "1.0.0-beta4"}
        org.nd4j/nd4j-native-platform            {:mvn/version "1.0.0-beta4"}
        net.sf.extjwnl/extjwnl                   {:mvn/version "2.0.2"}
        net.sf.extjwnl/extjwnl-data-wn31         {:mvn/version "1.2"}
        edu.stanford.nlp/stanford-corenlp        {:mvn/version "3.9.2"}
        edu.stanford.nlp/stanford-corenlp$models {:mvn/version "3.9.2"}
        edu.stanford.nlp/stanford-parser         {:mvn/version "3.9.2"}
        uk.ac.abdn/SimpleNLG                     {:mvn/version "4.4.8"}}}
